<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage candidate</title>
    <!--css-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--js-->
    <script th:src="@{/js/jQuery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <main>
        <header th:include="components/header"></header>

        <section>

        </section>
    </main>
</body>
</html>