<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Job seeking</title>
        <!--css-->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <!--js-->
        <script th:src="@{/js/jQuery.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <main>
            <header th:insert="~{components/header.html}"></header>

            <section class="container">
                <h1 class="text-center">Suggest Job</h1>

                <form action="/" method="get" class="d-flex gap-3 align-items-center">
                    <div class="">
                        <label for="candidate-id" class="form-label mb-0">Candidate</label>
                    </div>
                    <select name="candidate-id" id="candidate-id" class="form-select" aria-label="Default select example">
                        <option th:each="candidate : ${candidates}" th:value="${candidate.getId()}" th:text="${candidate.getFullName()}" th:selected="${candidate.getId() == canId} ? selected" />
                    </select>
                    <button type="submit" class="btn btn-primary text-nowrap">Get jobs</button>
                </form>

                <div th:if="${jobs != null}">
                    <div th:if="${!jobs.isEmpty()}">
                        <table class="table mt-3">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Company</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="job : ${jobs}">
                                <th scope="row" th:text="*{job.getId()}"></th>
                                <td th:text="*{job.getName()}"></td>
                                <td th:text="*{job.getDescription()}"></td>
                                <td th:text="*{job.getCompany().getName()}"></td>
                                <td>
                                    <a th:href="*{job.getId()}">Detail</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center flex-wrap">
                                <li th:class="page-item + ${' '} + (${jobs.number == 0} ? disabled)">
                                    <a class="page-link"
                                       th:href="@{/candidates(size=${jobs.size}, page=${jobs.number})}">Previous</a>
                                </li>
                                <li th:each="page : ${pages}"
                                    th:class="page-item + ${' '} + (${page == jobs.number + 1} ? active)">
                                    <a class="page-link" th:href="@{/candidates(size=${jobs.size}, page=${page})}"
                                       th:text="${page}"></a>
                                </li>
                                <li th:class="page-item + ${' '} + (${jobs.number+1 == pages.size} ? disabled)">
                                    <a th:class="page-link"
                                       th:href="@{/candidates(size=${jobs.size}, page=${jobs.number + 2})}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div th:unless="${!jobs.isEmpty()}" class="text-center mt-3">No jobs were found that matched the candidate</div>
                </div>
            </section>
        </main>
    </body>
</html>