<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Manage</title>
    <!--css-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--js-->
    <script th:src="@{/js/jQuery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <main>
        <header th:insert="~{components/header.html}"></header>

        <section class="container d-flex flex-column gap-3">
            <h1 class="text-center">Skill Manage</h1>

            <div class="row align-items-center row-gap-3">
                <label class="form-label col col-4">Name: </label>
                <div class="col col-8">
                    <input readonly disabled type="text" class="form-control" th:value="${job.getName()}">
                </div>

                <label class="form-label col col-4">Description: </label>
                <div class="col col-8">
                    <input readonly disabled type="text" class="form-control" th:value="${job.getDescription()}">
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Skill name</th>
                        <th scope="col">Skill description</th>
                        <th scope="col">Skill type</th>
                        <th scope="col">Skill level
                        <th scope="col">Info</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="jobSkill : ${jobSkills}">
                        <th scope="row" th:text="*{jobSkill.getSkill().getId()}" />
                        <td th:text="*{jobSkill.getSkill().getSkillName()}" />
                        <td th:text="*{jobSkill.getSkill().getSkillDescription()}" />
                        <td th:text="*{jobSkill.getSkill().getType()}" />
                        <td th:text="*{jobSkill.getSkillLevel()}" />
                        <td th:text="*{jobSkill.getMoreInfo()}" />
                        <td>
                            <a th:href="*{job.getId()}">Detail</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>